<div id="landing">
  <h1>Atlanta Ember</h1>
  {{#leaflet-map lat=nextEvent.venue.lat long=nextEvent.venue.lon zoom=1}}
    {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
  {{/leaflet-map}}
  {{!-- {{google-map location=nextEvent.venue}} --}}
</div>


<ul>
  <li>{{nextEvent.name}}</li>
  <li>{{{nextEvent.description}}}</li>
  <li>{{nextEvent.startsAt}}</li>
</ul>


<ul>
  {{#each nextEvent.topics as |topic|}}
    <li>{{topic.name}}</li>
  {{/each}}
</ul>


{{input type="text" value=topicName placeholder="Topic Name"}}
{{textarea value=topicDescription placeholder="Topic Description"}}

<button type="button" name="button" {{action 'createTopic'}}>Submit</button>
