<div id="landing">
  <h1>Atlanta Ember</h1>
  {{#if nextEvent.venue.isFulfilled}}
    {{#leaflet-map lat=nextEvent.venue.lat lng=nextEvent.venue.lon zoom=defaultZoom as |layers|}}
      {{layers.tile url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
      {{#layers.marker lat=nextEvent.venue.lat lng=nextEvent.venue.lon icon=icon as |marker|}}
        {{#marker.popup}}
          <h3>{{nextEvent.name}}</h3>
        {{/marker.popup}}
      {{/layers.marker}}
    {{/leaflet-map}}
  {{else}}
    Loading...
  {{/if}}
</div>


<ul>
  <li>{{nextEvent.name}}</li>
  <li>{{{nextEvent.description}}}</li>
  <li>{{nextEvent.startsAt}}</li>
</ul>


<ul>
  {{#each nextEvent.topics as |topic|}}
    <li>{{topic.name}}</li>
  {{/each}}
</ul>


{{input type="text" value=topicName placeholder="Topic Name"}}
{{textarea value=topicDescription placeholder="Topic Description"}}

<button type="button" name="button" {{action 'createTopic'}}>Submit</button>
